body {
    background: url("/static/img/clouds but bigger.gif") no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial;
    font-style: italic;
}

button {
    color: #ffffff;
    background-color: #4D768B;
    height: 70%;
    width: 70%;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    border: 0;
    box-shadow: none;
    text-align: center;
    margin: 10px;
}

button:hover {
    background-color: #3C5C6C;
    font-style: italic;
}

table {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
    overflow-x: auto;
    table-layout: fixed;
    

}

/* index page*/
.main {
    display: grid;
    grid-template-columns: 20% 60% 15% 5%;
    grid-template-rows: 20% 60% 15% 5%;
    grid-template-areas:
        "a title c d"
        "e descrip g h"
        "i link k l"
        "m n o extra";
    height: 100vh;
}

@media (min-width: 700px) {
    .main {
        display: grid;
        grid-template-columns: 4% 45% 2% 45% 4%;
        grid-template-rows: 22% 45% 11% 22%;
        grid-template-areas:
            "a b c d e"
            "f title h descrip j"
            "k title m link o"
            "p q r s extra";
        height: 100vh;
        overflow: hidden;
    }
}

.title {
    grid-area: title;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 7vw;
    width: 50%;
    height: 50%;
    line-height: 100%;
    text-shadow: 7px 7px #4D768B
}

.text {
    grid-area: descrip;
    text-align: center;
    color: #4D768B;
    padding: 12% 0;
}

.link {
    grid-area: link;
    text-align: center;
}

.extra {
    grid-area: extra;
    text-align: bottom;
    
}

/* calendar page*/
.calendarmain {
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 7% 45% 2% 25% 2% 5% 2% 5% 7%;
    grid-template-areas: 
        "a b c" 
        "d calendar f"
        "g h i"
        "j assignments l"
        "m n o"
        "p download r"
        "s t u"
        "v again x"
        "y z extra";
    width: auto;
    height: 100vh;
}

@media (min-width: 700px) {
    .calendarmain {
        display: grid;
        grid-template-columns: 7% 57% 3% 13% 13% 7%;
        grid-template-rows: 7% 70% 16% 7%;
        grid-template-areas: 
            "a b c d e f" 
            "g calendar i assignments assignments k" 
            "l calendar n download again q"
            "r s t u v extra";
        width: auto;
        height: 100vh;
    }
}

.calendar {
    grid-area: calendar;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.assignments {
    grid-area: assignments;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.download {
    grid-area: download;
    text-align: center;
}

.again {
    grid-area: again;
    text-align: center;
}


/* input page*/
.inputsmain {
    display: grid;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 7% 40% 6% 40% 7%;
    grid-template-areas: 
        "a b c" 
        "d feel f"
        "g h i"
        "j assignment l"
        "m n extra";
    width: auto;
    height: 100vh;
}

@media (min-width: 700px) {
    .inputsmain {
        display: grid;
        grid-template-columns: 10% 36% 8% 36% 10%;
        grid-template-rows: 10% 80% 10%;
        grid-template-areas: 
            "a b c d e" 
            "f feel h assignment j" 
            "k l m n extra";
        width: auto;
        height: 100vh;
    }
}

.inputs {
    grid-area: feel;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 4% 30% 4% 32%;
    grid-template-areas:
        "feeling"
        "b"
        "emotion"
        "d"
        "sleep";
    height: 100%;
}

.inputs2 {
    grid-area: assignment;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32% 4% 30% 4% 30%;
    grid-template-areas:
        "assign"
        "y"
        "google"
        "z"
        "button";
    height: 100%;
}

.inputs#feeling {
    grid-area: feeling;
}

.inputs#emotion {
    grid-area: emotion;
}

.inputs#sleep {
    grid-area: sleep;
}

.inputs2#assign {
    grid-area: assign;
}

.inputs2#google {
    grid-area: google;
}

.inputs2#button {
    grid-area: button;
}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    height: 80%;
    padding-top: 10%;
}