<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
  <div class="inputsmain">
    <div class="inputs">
        <div id="feeling"><div class="box"><form>how are you feeling today:<br><input type="text" name="feel"><br></div></div>
        <div id="other"></div>
        <div id="emotion"><div class="box"><form>emotional state today:<br><input type="text" name="emotion"><br></div></div>
        <div id="other2"></div>
        <div id="sleep"><div class="box"><form>block off your sleeping schedule:<br>
          <input type="text" name="sleep1"><br>
          <input type="text" name="sleep2"><br>
          <input type="text" name="sleep3"><br>
          <input type="text" name="sleep4"><br>
          <input type="text" name="sleep5"><br>
          <input type="text" name="sleep6"><br>
          <input type="text" name="sleep7"><br></div></div>
    </div>
    <div class="inputs2">
        <div id="assign"><div class="box"><form>assignments & their priorities:<br>
          <input type="text" name="assignment1"><br>
          <input type="text" name="assignment2"><br>
          <input type="text" name="assignment3"><br>
          <input type="text" name="assignment4"><br>
          <input type="text" name="assignment5"><br>
          <input type="text" name="assignment6"><br>
          <input type="text" name="assignment7"><br></div></div>
        <div id="other"></div>
        <div id="google"><div class="box"><form>google calendar email:<br><input type="text" name="feel"><br></div></div>
        <div id="other2"></div>
        <div id="button"><button type="button">submit</button></div>
    </div>
    <div class="extra"><a id="about" href="about">about</a>
    <a id="home" href="HackSCHomePage">home</a></div>
  </div>
</body>


</html>