<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Calendar</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
  <div class="calendarmain">
    <div class="calendar">insert calendar</div>
    <div class="assignments">assignments list</div>
    <div class="download"><button type="button">email this to me</button></a></div>
    <div class="again"><a href="inputs"><button type="button">try it again</button></a></div>
    <div class="extra"><a id="about" href="about">about</a>
    <a id="home" href="HackSCHomePage">home</a></div>
  </div>
</body>


</html>