<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HackSCHomePage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
  <div class="main">
    <div class="title"><p>schedyouler</p></div>
    <div class="text"><p>Schedyouler is a planning website designed to help you reduce stress and improve your mental health. Simply type in how you're feeling today, input upcoming due dates, and import your Google Calendar, and we help find you find the best way to manage your time, stress-free!</p></div>
    <div class="link"><a href="inputs"><button type="button">try it yourself</button></a></div>
    <div class="extra"><a id="about" href="about">about</a>
    <a id="home" href="HackSCHomePage">home</a></div>
  </div>
</body>


</html>
