<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Assignments</title>
</head>
<body>
<!--
<label for="AssName">Assignment Name</label>
<input type = "text" id = "AssName">
<label for="Hours">Hours</label>
<input type = "number" id = "Hours">
<label for="Prio">Priority</label>
<input type = "number" id = "Prio">

<input type = "submit" onclick= "getAssName()">

<p>
    <output name = "AssNameOut" for= "AssName" id = "out"></output>
</p>

<p>
    <input type="submit" value = "Done" onclick = "displayLists()">
</p>

<p>
    <output name = "nameList" id = "names"></output>
</p>

<p>
    <output name = "hourList" id = "hoursL"></output>
</p>

<p>
    <output name = "prioList" id = "prioL"></output>
</p>

<p>
    <input type="button" class="button_active" onclick="location.href='/tester';" value = "Go Test" id = "done" />
</p>
-->
<form name = inputActivities action = "/tester" method="post">
    <label>Name:</label>
    <input type="text" name = "name">
    <label>Hours:</label>
    <input type="number" name = "hours">
    <label>Priority:</label>
    <input type="number" name="priority">
    <label>Date:</label>
    <input type="date" name="date">

    <input type="submit" value="submit">
</form>


<script>
    //let List = require("collections/list");
    let names = [];
    let hours = [];
    let prios = [];

    function getAssName(){
        let name = document.getElementById("AssName").value;
        let hour = document.getElementById("Hours").value;
        let prio = document.getElementById("Prio").value;

        document.getElementById("out").value = "The assignment " + name + " will take " + hour + " hours with priority " + prio + "!";

        names.push(name);
        hours.push(hour);
        prios.push(prio);
    }

    function displayLists() {

        let nameString = "The names are: ";
        for(let i = 0; i < names.length; i++){
            nameString += (names[i] + " ");
        }

        let hourString = "The hours are: ";
        for(let i = 0; i < hours.length; i++){
            hourString += (hours[i] + " ");
        }

        let prioString = "The prios are: ";
        for(let i = 0; i < prios.length; i++){
            prioString += (prios[i] + " ");
        }


        document.getElementById("names").value = nameString;
        document.getElementById("hoursL").value = hourString;
        document.getElementById("prioL").value = prioString;

    }

  /*  $(document).ready(function(){
        $("#done").click(function(){
            $.post("dataFrameTest.py", {
                js_name: "joe",
                js_names: names,
                js_hours: hours,
                js_prios: prios
            }, function(data, status){

            });
        });
    });
*/
</script>

</body>
</html>

