<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Assignments</title>
</head>
<body>

<label for="AssName">Assignment Name</label>
<input type = "text" id = "AssName">
<label for="hours">Hours</label>
<input type = "number" id = "hours">
<label for="prio">Priority</label>
<input type = "number" id = "prio">

<input type = "submit" onclick= "getAssName()">

<p>
    <output name = "AssNameOut" for= "AssName" id = "out"></output>
</p>


<script>
    function getAssName()
    var name = document.getElementById("AssName").value;
    var hours = document.getElementById("hours").value;
    var prio = document.getElementById("prio").value;

    document.getElementById("out").value = "The assignment " + name + " will take " + hours + " hours with priority " + prio + "!";
    }
</script>

</body>
</html>

