<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Inputs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
  <div class="inputsmain">
    <div class="inputs">
      <form action="{{ url_for('addfeel') }}" method="post">
        <div id="feeling"><div class="box">how are you feeling today:<br><input type="text" name="feel" value="10">
        <input type="submit" value="submit" /></form><br></div></div>
        <div id="other"></div>
      <form action="{{ url_for('addemotion') }}" method="post">
        <div id="emotion"><div class="box">emotional state today:<br>
          <select name="emotion">
            <option value="happy">happy</option>
            <option value="depressed">depressed</option>
            <option value="anxious">anxious</option>
            <option value="nervous">nervous</option>
          </select>
          <input type="submit" value="submit" /></form><br></div></div>
        <div id="other2"></div>
      <form action="{{ url_for('addsleep') }}" method="post">
        <div id="sleep"><div class="box">block off your sleeping schedule:<br>
          <input type="text" name="weekday" value="10:00pm"><br>
          <input type="text" name="weekend" value="12:00am"><br>
          <input type="submit" value="submit" /></form></div></div>
    </div>
    <div class="inputs2">
      <form action="{{ url_for('addassign') }}" method="post">
        <div id="assign"><div class="box">assignments & their priorities:<br>
          <input type="text" name="aname" value="None"><br>
          <input type="text" name="apriority" value="None"><br>
          <input type="text" name="aworkload" value="None"><br>
          <input type="text" name="adate" value="None"><br>
      <input type="submit" value="submit" /></form>
          </div>
        </div>
        <div id="other"></div>
      <form action="{{ url_for('addgoogle') }}" method="post">
        <div id="google"><div class="box">google calendar email:<br><input type="text" name="google">
      <input type="submit" value="submit" /></form><br></div></div>
        <div id="other2"></div>
        <div id="button"><a href="calendar"><button type="button">submit</button></a></div>
    </div>
    <div class="extra"><a id="about" href="about">about</a>
    <a id="home" href="HackSCHomePage">home</a></div>
  </div>
</body>


</html>